<html>

<head>
</head>

<body>
    <style type="text/css">
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
    <h1>Welcome {{username}}</h1>
    <br></br>
    {% if success %}
    <p class="success" style="color:green"> {{success}}</p>
    {% endif %}
    {% if fault %}
    <p class="fault" style="color:red"> {{fault}}</p>
    {% endif %}
    <p>Your Flights</p>
    <form name = "iForm" action = "/customer_home/0" method = "POST">
        <label>Future</label>
        <input type="radio" name="flight_type" value = "Future" checked = "checked" />
        <label>Past</label>
        <input type="radio" name="flight_type" value = "Past" />
        <label>All</label>
        <input type="radio" name="flight_type" value = "All" />
        </br>
        <input type="submit" value=Search />
        <header>Your {{flight_type}} Flight</header>
        <table>
        <th>Flight Number</th>
        <th>Departure Time</th>
        <th>Airline Name</th>
        <th>Ticket id</th>
        {% for line in future_flight %}
        <tr>
            <td>{{line['flight_number']}}</td>
            <td>{{line['dep']}}</td>
            <td>{{line['airline_name']}}</td>
            <td>{{line['ticket_id']}}</td>
        </tr>
        {% endfor %}
        </table>
        <br></br>
        <header>Your have spend ${{past_year_spend}} last year</header><br></br>
        <header>Monthwise spending in the last 6 month from now</header>
        <table>
        <th>year</th>
        <th>month</th>
        <th>money spend</th>
        {% for line in last_6_month_spend %}
        <tr>
            <td>{{line['year']}}</td>
            <td>{{line['month']}}</td>
            <td>{{line['total_spend']}}</td>
        </tr>
        {% endfor %}
        </table>
    </form>

    <br></br>
    <p>Track my spending:</p>
    <form action="/track_spending" method="POST">
        <head>Start date:</head>
        <input type="date" name="start_date" placeholder="start_date" required /></br>
        <head>End date:</head>
        <input type="date" name="end_date" placeholder="end_date" required /></br>
        <input type="submit" value=Search />
        {% if error4 %}
        <p class="error4" style="color:red"><strong>Error:</strong> {{error4}}</p>
        {% endif %}
    </form>
    {% if start_date %}
			<p>Your monthwise spending from {{start_date}} to {{end_date}}</p>
    {% endif %}
    <table>
        <th>Year</th>
        <th>Month</th>
        <th>Spending</th>
        {% for line in track_spend %}
        <tr>
            <td>{{line["year"]}}</td>
            <td>{{line["month"]}}</td>
            <td>{{line["total_spend"]}}</td>
        </tr>
        {% endfor %}
    </table>

    <br></br>
    <p>Search Flights</p>
    <form action="/flight_search_home" method="POST">
        <label>Single Trip</label>
        <input type="radio" name="trip_type" value = "single" checked = "checked" />
        <label>Round trip</label>
        <input type="radio" name="trip_type" value = "round" /></br>
		<input type="text" name="source_city" placeholder="source_city" required /> </br>
		<input type="text" name="source_airport" placeholder="source airport" required /></br>
		<input type="text" name="des_city" placeholder="destination city" required /> </br>
		<input type="text" name="des_airport" placeholder="destination airport" required /></br>
		<head>Departure date:</head>
		<input type="date" name="departure_date" placeholder="departure date" required /></br>
		<head>Return Date</head>
		<input type="date" name="return_date" placeholder="return date" />
		<head>(Round trip only)</head>
		</br>
		<input type="submit" value=Search />
		{% if error1 %}
			<p class="error1" style="color:red"><strong> </strong> {{error1}}</p>
		{% endif %}
		<style type="text/css">
			table,
			th,
			td {
				border: 1px solid black;
			}
		</style>
		<table>
			<th>Flight Number</th>
			<th>Departure Date</th>
			<th>Airline Name</th>
			<th>Return Flight Number(Round Trip Only)</th>
			<th>Return Date(Round Trip Only)</th>
			<th>Return Airline Name(Round Trip Only)</th>
			{% for line in posts1 %}
			<tr>
				<td>{{line['flight_number']}}</td>
				<td>{{line['departure_date_time']}}</td>
				<td>{{line['airline_name']}}</td>
				<td>{{line['return_flight_number']}}</td>
				<td>{{line['return_date']}}</td>
				<td>{{line['return_airline_name']}}</td>
			</tr>
			{% endfor %}
		</table>
	</form>

    <br></br>
    <p>Buy Tickets</p>
    <form action="/buy_ticket" method="POST">
        <input type="text" name="flight_number" placeholder="flight number" required /> </br>
        <input type="text" name="airline_name" placeholder="airline name" required /></br>

        <head>Departure date and time:</head>
        <!--- 特殊的date type--->
        <input type="datetime-local" name="departure_date" placeholder="departure date" required /></br>

        <head>Type of your card:</head>
        <div>
            <input type="radio" id="credit" name="card" value="credit" checked>
            <label for="credit">Credit Card</label>
        </div>
        <div>
            <input type="radio" id="debit" name="card" value="debit">
            <label for="debit">Debit Card</label>
        </div>
        <input type="text" name="name_on_card" placeholder="name on card" required /> </br>
        <!--- sql 里 是 varchar--->
        <input type="int" name="card_num" placeholder="number of card" required /></br>

        <head>Expiration date of card:</head>
        <input type="date" name="expiration_date" placeholder="expiration date" required /></br>
        <input type="submit" value=Submit />
        {% if error2 %}
        <p class="error2" style="color:red"><strong>Error:</strong> {{error2}}</p>
        {% endif %}
    </form>

    <br></br>
    <p>Flight information that not commented yet</p>
    <table>
        <th>Flight Number</th>
        <th>Departure Time</th>
        <th>Airline Name</th>
        {% for line in not_commented_flights %}
        <tr>
            <td>{{line['flight_number']}}</td>
            <td>{{line['departure_date_time']}}</td>
            <td>{{line['airline_name']}}</td>
        </tr>
        {% endfor %}
    </table>
    <br></br>
    <p>Comments and Rating for Flights</p>
    <form action="/comment_and_rate" method="POST">
        <input type="text" name="flight_number" placeholder="flight number" required /> </br>
        <input type="text" name="airline_name" placeholder="airline name" required /></br>

        <head>Departure date and time:</head>
        <!--- 特殊的date type--->
        <input type="datetime-local" name="departure_date" placeholder="departure date" required /></br>
        <br></br>

        <head>Your Rating:</head>
        <br></br>
        <input type="radio" id="0.0" name="rate" value="0.0" checked>
        <label for="0.0">0.0</label>
        <input type="radio" id="0.5" name="rate" value="0.5" checked>
        <label for="0.5">0.5</label>
        <input type="radio" id="1.0" name="rate" value="1.0" checked>
        <label for="1.0">1.0</label>
        <input type="radio" id="1.5" name="rate" value="1.5" checked>
        <label for="1.5">1.5</label>
        <input type="radio" id="2.0" name="rate" value="2.0" checked>
        <label for="2.0">2.0</label>
        <input type="radio" id="2.5" name="rate" value="2.5" checked>
        <label for="2.5">2.5</label>
        <input type="radio" id="3.0" name="rate" value="3.0" checked>
        <label for="3.0">3.0</label>
        <input type="radio" id="3.5" name="rate" value="3.5" checked>
        <label for="3.5">3.5</label>
        <input type="radio" id="4.0" name="rate" value="4.0" checked>
        <label for="4.0">4.0</label>
        <input type="radio" id="4.5" name="rate" value="4.5" checked>
        <label for="4.5">4.5</label>
        <input type="radio" id="5.0" name="rate" value="5.0" checked>
        <label for="5.0">5.0</label>
        <br></br>
        <textarea name="comment" rows="10" cols="40" required>
        ##Your comments##
        </textarea>
        <input type="submit" value=Submit />
        {% if error3 %}
        <p class="error3" style="color:red"><strong>Error:</strong> {{error3}}</p>
        {% endif %}
    </form>
    <!--- TODO--->

    <a href="/logout">Logout</a>

</body>


</html>