<!DOCTYPE html>
<html>

<head>

</head>

<body>
	<a href="/login">Login</a>
	<a href="/register_choose">Register</a>
	<br></br>
	<p> Search Flight:</p>
	<form action="/flight_search" method="POST">
        <label>Single Trip</label>
        <input type="radio" name="trip_type" value = "single" checked = "checked" />
        <label>Round trip</label>
        <input type="radio" name="trip_type" value = "round" /></br>
		<input type="text" name="source_city" placeholder="source_city" required /> </br>
		<input type="text" name="source_airport" placeholder="source airport" required /></br>
		<input type="text" name="des_city" placeholder="destination city" required /> </br>
		<input type="text" name="des_airport" placeholder="destination airport" required /></br>
		<head>Departure date:</head>
		<input type="date" name="departure_date" placeholder="departure date" required /></br>
		<head>Return Date</head>
		<input type="date" name="return_date" placeholder="return date" />
		<head>(Round trip only)</head>
		</br>
		<input type="submit" value=Search />
		{% if error1 %}
			<p class="error1"><strong>Error:</strong> {{error1}}</p>
		{% endif %}
		<style type="text/css">
			table,
			th,
			td {
				border: 1px solid black;
			}
		</style>
		<table>
			<th>Flight Number</th>
			<th>Departure Date</th>
			<th>Airline Name</th>
			<th>Return Flight Number(Round Trip Only)</th>
			<th>Return Date(Round Trip Only)</th>
			<th>Return Airline Name(Round Trip Only)</th>
			{% for line in posts1 %}
			<tr>
				<td>{{line['flight_number']}}</td>
				<td>{{line['departure_date_time']}}</td>
				<td>{{line['airline_name']}}</td>
				<td>{{line['return_flight_number']}}</td>
				<td>{{line['return_date']}}</td>
				<td>{{line['return_airline_name']}}</td>
			</tr>
			{% endfor %}
		</table>
	</form>
	<br></br>
	<p> Check Flight Status:</p>
	<form action="/See_status" method="POST">
		<input type="text" name="airline_name" placeholder="airline name" required /> </br>
		<input type="int" name="flight_number" placeholder="flight number" required /></br>
		<head>Departure date:</head>
		<input type="date" name="departure_date" placeholder="departure date" required /></br>
		<head>Arrival date:</head>
		<input type="date" name="arrival_date" placeholder="arrival date" required /></br>
		<input type="submit" value=Search />
		{% if error2 %}
			<p class="error2"><strong>Error:</strong> {{error2}}</p>
		{% endif %}
		<table>
			<th>Status</th>
			<!--- TODO--->
			{% for line in posts2 %}
			<tr>
				<td>{{line['status']}}</td>
			</tr>
			{% endfor %}
		</table>
	</form>

</html>