<html>
<head>
</head>
<body>
<form action="/registerAuth_customer" method="POST">
	<input type="email" name = "username" placeholder="email(username)" required  pattern=".+@."/> </br>
	<input type="password" name = "password" placeholder="password" required/></br>
    <input type="text" name = "name" placeholder="name" required/> </br>
    <input type="text" name = "state" placeholder="state" required/> </br>
	<input type="text" name = "city" placeholder="city" required/></br>
    <input type="text" name = "street" placeholder="street" required/></br>
    <input type="number" name = "building_number" placeholder="building number" required/></br>
    <!--- 不确定怎么phone number--->
    <input type="tel" name = "phone_number" placeholder="phone number" required/></br>
    <!--- 不确定怎么check passport--->
    <input type="text" name = "passport_number" placeholder="passport number" required/></br>
    <!--- check 要比时间早--->
    <p>passport expiration date:</p>
    <input type="date" name = "passport_expiration" placeholder="passport expiration date" required/></br>
    <input type="text" name = "passport_country" placeholder="passport country" required/></br>
    <p>date of birth:</p>
    <input type="date" name = "date_of_birth" placeholder="date of birth" required/></br>
    <input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/">Go back</a>
</body>
</html>