<html>
<head>
</head>
<body>
<style type="text/css">
    table, th, td{
        border: 1px solid black;
    }
</style>
<h1>Welcome {{username}}</h1>
<br></br>
<p>View My Flights</p>
<table>
	<th>Flight Number</th>
	<th>Departure Time</th>
    <th>Airline Name</th>
{% for line in airline_fights %}
	<tr>
		<td>{{line['flight_number']}}</td>
		<td>{{line['departure_date_time']}}</td>
        <td>{{line['airline_name']}}</td>
	</tr>
{% endfor %}
</table>

<br></br>
<p>Create New Airport:</p>
<form action="/create_new_airport" method="POST">
    <input type="number" name="code" placeholder="airport code" required /> </br>
    <input type="text" name="airport_name" placeholder="airport name" required /></br>
    <input type="text" name="city" placeholder="city" required /> </br>
    <input type="submit" value=Search />
    {% if error1 %}
        <p class="error1"><strong>Error:</strong> {{error1}}</p>
    {% endif %}
</form>

<p>Create New Airplane:</p>
<form action="/create_new_airplane" method="POST">
    <input type="text" name="airline_name" placeholder="airline name" required /> </br>
    <input type="text" name="id" placeholder="id" required /></br>
    <input type="int" name="num_seats" placeholder="number of seats" required /> </br>
    <input type="submit" value=Search />
    {% if error2 %}
        <p class="error2"><strong>Error:</strong> {{error2}}</p>
    {% endif %}
</form>

<!--- 买票 需要有下拉菜单（根据python定）--->
<!--- 不确定怎么implement--->
<p>Comments and Rating for Previous Flights</p>

<a href="/logout">Logout</a>

</body>


</html>